name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-cs8:
    name: CentOS Stream 8 build
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream8

    steps:
    - name: Enable Virt SIG repo
      run: |
        REPO_FILE="/etc/yum.repos.d/virt8s-ovirt-45-el8s.repo"
        printf "[ovirt-master-centos-stream-ovirt45-testing]\n" > ${REPO_FILE}
        printf "name=CentOS Stream 8 - oVirt 4.5 - testing\n" >> ${REPO_FILE}
        printf "baseurl=https://buildlogs.centos.org/centos/8-stream/virt/x86_64/ovirt-45/\n" >> ${REPO_FILE}
        printf "gpgcheck=0\n" >> ${REPO_FILE}
        printf "enabled=1\n" >> ${REPO_FILE}
        printf "module_hotfixes=1" >> ${REPO_FILE}

    - name: Prepare build environment
      run: |
           dnf config-manager --enable powertools
           dnf module enable -y pki-deps javapackages-tools
           dnf install -y createrepo_c dnf-utils git java-11-openjdk-devel maven rpm-build sed

    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Perform build
      run: |
        .automation/build-artifacts.sh $(git rev-parse --short $GITHUB_SHA)

    - name: Create DNF repository
      run: createrepo_c exported-artifacts/

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: exported-artifacts/

